body {
    background-color: #181717;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 2vw;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    text-align: justify;
}

img{
    scale: 1vw;
}

p {
    margin-top: 4%;
}

article {
    background-color: rgba(50, 50, 50, 0.4);
    border-radius: 25px 25px 25px 25px;
    border: 1.0cm solid transparent;
}

.scan_qrcode {

    border-radius: 0.5cm 0.5cm 0.5cm 0.5cm;
    float: inline-start;
    margin-top: -4%;
    width: 40vw;
    scale: 70%;
}

.title {
    text-align: center;
}

.winner_podium {

    border-radius: 0.5cm 0.5cm 0.5cm 0.5cm;
    float: inline-end;
    margin-top: -4%;
    width: 40vw;
    scale: 85%;
}