body {
    background-color: #181717;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 2vw;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    text-align: justify;
}

article {
    background-color: rgba(255,255,255, 0.2);
    border-radius: 25px 25px 25px 25px;
    border: 0.5cm solid transparent;
}

.title {
    text-align: center;
}
